
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
html,body{
    height: 100%;
    width: 100%;
}
body{
    background-color: #222;
    overflow-x: hidden;
}
#main{
    
    background-color: #111;
    position: relative;
}
#full-nav{
    height: 100vh;
    width: 100vw;
    background-color: bisque;
    position: absolute;
    top: -100vh;
    padding: 200px 150px;
    transition: all ease 0.6s;
    color: #222;
    z-index: 9;
}
#full-nav h1{
    margin: 10px;
    font-size: 200px;
}
#full-nav button{
    position: absolute;
    right: 2%;
    top: 12%;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 20px;
    opacity: 0;
}
#nav{
    height: 80px;
    width: 100vw;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: black;
    position: absolute;
    z-index: 99;
}
#nav h1{
    margin-left: 50px;
    font-size: 30px;
    letter-spacing: 2px;
}
#nav-prt2{
    margin-right: 20px;
    display: flex;
    align-items: center;
}
#nav-prt2 h3{
    margin-left: 50px;
    font-size: 30px;
    letter-spacing: 1px;
}
#nav-prt2 i{
    margin-left: 20px;
    cursor: pointer;
    font-size: 30px;
}

#page1{
    min-height: 100vh;
    width: 100vw;
    color: #fff;
    position: relative;
    
}
#page1 h1{
    font-size: 200px;
    position: absolute;
    top: 20%;
    left: 10%;
    color: #dadada;
}
#page1 h2{
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 38%;
    color: #dadada;
    width: 250px;
}
#page1 h3{
    font-size: 15px;
    position: absolute;
    top: 55%;
    left: 70%;
    color: #dadada;
    width: 250px;
}

#page2{
    min-height: 200vh;
    width: 100%;
    color: #fff;
    position: relative;
}
#page2-img{
   width: 90%;
   height: auto;
   position: absolute;
    margin-left: 5%;
    top: -10%;
    transform: scale(0.9);
}
#page2-img img{
    width: 100%;
    height: auto;
   
}
#page2 h1{
    font-size: 30px;
    position: absolute;
    top: 70%;
    left:25%;
}
#page2 h1 span{
    font-style: italic;

}